/* Layout & Structure */
body {
  font-family: Arial, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 1.6;
  margin: 0;
  color: #003399;
  background-color: #f3ebf1;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: #031735;
  color: #f3ebf1;
  text-align: center;
  padding: 50px 0;
}

.navigation {
  background-color: #0b952e;
  text-align: center;
  padding: 10px 0;
}

.navigation a {
  color: #f3ebf1;
  text-decoration: none;
  margin: 0 15px;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.navigation a:hover {
  background-color: #0b952e;
  border-radius: 5px;
}

.about {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.flex-container {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.left-column,
.right-column {
  flex: 1;
}

.about-content,
.about-text {
  flex: 1;
}

.skills ul {
  list-style-type: disc;
  padding-left: 20px;
}

.footer {
  background-color: #0b4295;
  color: #fff;
  text-align: center;
  padding: 30px 0;
  margin-top: 30px;
}

.social-media {
  margin-top: 20px;
}

.social-media a {
  color: #fff;
  margin: 0 10px;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.social-media a:hover {
  color: #00acee;
  /* Change to any color for hover effect */
}

/* Element Selectors for Typography */
h1 {
  font-size: 2.5em;
  margin-bottom: 0.2em;
}

h2 {
  font-size: 2em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.5em;
  color: #0b952e;
  margin-bottom: 0.3em;
}

p {
  font-size: 1em;
  color: #555;
  margin-bottom: 1em;
}
v {
  font-size: 1em;
  color: #fff;
  margin-bottom: 1em;
}
p1 {
  font-size: 1em;
  color: #fff;
  margin-bottom: 1em;
}
ul {
  font-size: 1em;
  color: #555;
  margin-bottom: 1em
}
a {
  color: #fff;
  text-decoration: underline;
  transition: color 0.3s ease;
}

a:hover {
  color: #003399;
}